<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.android.test.mykeystore"
		android:versionCode="1"
		android:versionName="1.0">
	<application android:label="@string/app_name">
		<activity android:name="TestMyKeyStoreActivity"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.test.mykeystore.TestMyKeyStoreActivity.USER_PRESENT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<receiver android:name=".UserPresentReceiver" > 
			<intent-filter>
				<action android:name="android.intent.action.USER_PRESENT"/>
			</intent-filter>
		</receiver> 
	</application>
</manifest> 
